#contact {
    height: 1000px;

    width: 90%;
    margin: 20px;
}

.map {
    height: 500px;
    width: 900px;



}

#text {
    background-color: rgb(158, 162, 163);
    margin: 10%;
    top: -40%;
    height: 500px;
    width: 500px;
    left: 55%;
    right: 0%;
    position: relative;
    z-index: 2;
}


@media (max-width: 768px) {
    #contact {
        height: 1000px;

        width: 200px;
    }

    #text {
        max-width: 400px;
        width: 300px;
        height: 350px;
        display: flex;
        top: 0%;
        left: 0%;
    }

    .map {
        height: 300px;
        width: 340px;



    }

}