.elementTest{
    color: #000000;
    background-color: rgb(6, 6, 6);
    font-weight: bold;
}
#navbar{
    background-color: rgb(9, 9, 9);
   

}
.container2{
    background-color: rgb(9, 9, 9);

}
#nv{
    margin-left: 100px;
    margin-right: 7px;
    margin-bottom: 0px;
    margin-top: 0px;

}